  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <div class="masthead-brand">
      <img class="mb-4" src="assets/panda_hat.png" alt="" width="57" height="70">
      </div>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Dashboard</a>
        <a class="nav-link" href="#">Leaderboard</a>
        <a class="nav-link" href="index.html">Logout</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover text-center">
    <h1 class="cover-heading">Daily Challenge #1</h1>
    <br>
    <p class="lead">Go sit next to Susan and stare at their screen until they notice for a minute. If they try and talk to you, say nothing then walk away.</p>
    <br>
    <p class="lead">
      <p class="lead">Completed Challenge?</p>  </p>

            <div class="challenge-btns">
            <a href="#" class="button btnPush btnBlueGreen"><i class="fas fa-check"></i></a>
            <a href="#" class="button btnPush btnRed"><i class="fas fa-times"></i></a>

      </div>


  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
  <p class="mt-5 mb-3 text-center">&copy; Secret Tanda 2018</p>
    </div>
  </footer>
</div>