html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

h1{
  font-family: 'Oswald', sans-serif;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: white
}

.main{
  background: linear-gradient(150deg, #5ed6eb, #228cc5 80%, #228cc5);
  z-index: -99;
}

.left-main {
  padding: 100px 50px;
}

a, a:hover{
  text-decoration: none;
  color: white;
}


.form-signin, .form-questions {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-questions {
max-width:500px;

}
.form-signin h1, .form-questions h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 42px;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
}

.form-questions h1 {
font-size: 36px;
}

.form-signin p {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

label {
  color: white;
}

.btn-primary {
  background-color: #9ac63b;
  border-radius: 25px;
  border: none;
}

.btn-primary:hover {
    background-color: #8fbc2d;
}
